                  /***    HTML elements:    ***/

body {
  margin: 0;
  text-align: center;
  font-family: 'Courier Prime';
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script';
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Mali';
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  color: #11999E;
}

p {
  line-height: 2;
  font-size: 1.5rem;
}

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #40514E;
  text-decoration: none;
}

span {
  text-decoration: underline;
}

hr {
  clear: right;
  width: 10%;
  border-bottom-style: dotted;
  border-width: 0 0 10px 0;
  border-bottom-color: #EAF6F6;
  margin: 5% auto;
}

button {
  color: #EAF6F6;
  background-color: #66BFBF;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  margin: 5% auto 10%;
  font-family: 'Mali';
  font-size: 20px;
  font-weight: 100;
}

button:hover {
  color: #66BFBF;
  background-color: #EAF6F6;
  border-radius: 10px;
  text-decoration: none;
}

                          /***  CLASSES  ***/


.round-img {
  border-radius: 50%;
  width: 200px;
  margin-top: 50px;
}

.top-container {
  background-color: #effffb;
  padding-top: 100px;
  position: relative;
}

.bottom-container {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #66BFBF;
}

.copyrights {
  color: #effffb;
  font-size: 0.8rem;
  margin: 30px 0;
}

.job {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 30px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.analytical-img {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.dancing-img {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.content-text-intro {
  width: 35%;
  margin: auto;
}

.footer-link {
  margin: auto 2%;
  color: #effffb;
  font-size: 1.5rem;
}

.contact-me {
  width: 40%;
  margin: auto;
}

.imported-img {
  font-size: 0.75rem;
  margin: 0;
}
